.checkout {
    .checkout {
        &-header {

        }

        &-section {
            display: flex;
            column-gap: 10px;
            justify-content: space-around;
            margin-bottom: 0.5rem;
        }

        &-body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: -20px;
            margin-right: -20px;
        }

        &-col {
            padding: 20px;
            box-sizing: border-box;
        }

        &-order {
            border: 1px solid #3A3A3A;
            overflow-x: hidden;
        }
    }

    .form-group {
        &__label {
            color: var(--safety-orange);
            display: flex;
            margin-bottom: 0.45rem;

            i {
                color: #ff0000;
                padding-inline-start: 3px;
                padding-block-start: 1px;
                font-style: normal;
            }
        }

        &__input {

        }

        .invalid-feedback {
            display: block;
        }
    }

    .order-items {
        display: flex;
        flex-direction: column;

        .order-item {
            padding: 9px 0;
            display: flex;
            justify-content: space-around;
            column-gap: 10px;
            align-items: center;

            &__product {
                flex: 1;
                color: var(--safety-orange);

                .title {
                    margin-bottom: 0.25rem;
                    font-size: 1.15rem;
                }

                .additional {
                    font-weight: 600;
                    font-size: 0.9rem;

                    a:hover {
                        color: var(--bull-cyan);
                    }
                }
            }

            &__subtotal {
                text-align: right;
                color: var(--bull-cyan);
            }

            &__header {
                font-size: 1.2rem;
                font-weight: bolder;
                color: var(--safety-orange);
            }
        }
    }

    .order-totals {
        border-top: 1px solid #CCCCCC;
        padding: 5px 0;

        .order-total {
            display: flex;
            column-gap: 10px;
            align-items: center;
            padding: 5px 0;

            &__label {
                font-weight: 600;
                flex: 1;
            }

            &__total {
                text-align: right;
                color: var(--bull-cyan);
            }
        }
    }

    .pay-methods {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .pay-method {
            display: flex;
            column-gap: 15px;
            align-items: center;

            &__details {
                flex: 1;
                color: var(--safety-orange);
            }
        }
    }

    .label-radio {
        display: flex;
        justify-content: center;
        column-gap: 5px;
        line-height: 1.2;
        margin-bottom: 0;

        .radio-box {
            position: relative;
            width: 20px;
            height: 20px;

            &:before {
                content: " ";
                display: inline-block;
                border-radius: 10rem;
                border: 2px solid #767676;
                background-color: var(--white);
                background-clip: content-box;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        .radio {
            opacity: 0;
        }

        .radio:checked + .radio-box:before {
            background-color: var(--bull-cyan) !important;
        }
    }
}

@media (max-width: 768px) {
    .checkout {
        .checkout {
            &-body {
                grid-template-columns: 1fr;
            }
        }
    }
}