.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ffffff;

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .our-providers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;

        img {
            height: 38px;
            display: inline-block;
        }
    }

    .social-icons {
        display: flex;
        column-gap: 10px;

        .social-icon {
            background-color: #37b291 !important;
            border-radius: 3px;
            color: #ffffff !important;
            border: 0 #ffffff solid !important;
            font-size: 18px;
            padding: 9px;
            line-height: 1 !important;
        }
    }

    .copyright {
        text-align: center;
        color: #f5f5f5;
    }
}

.window-cookie {
    position: fixed;
    background-color: #000;
    color: #ffffff;
    padding: 2rem;
    left: 1rem;
    bottom: 1rem;
    width: 500px;
    border-radius: 0.6rem;
    z-index: 100;
}

@media (max-width: 768px) {
    .footer-row {
        flex-direction: column;
        row-gap: 10px;
    }

    .window-cookie {
        border-radius: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        z-index: 1000;
    }
}