.header {
    display: flex;
    padding: 15px 30px;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
    column-gap: 30px;

    .logo {
        height: 64px;
        width: auto;
        display: inline-block;

        &-wrapper {
            flex: 1;
        }
    }

    .menus {
        .menu {
            &-list {
                display: flex;
                align-items: center;
                column-gap: 2rem;
                list-style: none;
                padding: 0;
                margin: 0;
            }

            &-item {
                display: inline-block;
                color: #ffffff;
                font-weight: 300;
                text-transform: uppercase;
                position: relative;

                a {
                    color: #ffffff;
                    height: 40px;
                    line-height: 40px;

                    &:hover {
                        color: var(--info);
                        text-decoration: none;
                    }

                    &.menu-link {

                    }

                    &.menu-has-children {
                        display: flex;
                        column-gap: 5px;

                        &:after {
                            font-family: bootstrap-icons;
                            content: "\F282";
                            display: block;
                        }
                    }
                }

                .submenu {
                    padding: 30px 0 0;
                    list-style: none;
                    display: none;
                    flex-direction: column;
                    background-color: #282828;
                    color: #ffffff;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 260px;

                    a {
                        display: block;
                        line-height: 1.2;
                        padding: 5px 15px;
                    }
                }

                &:hover {
                    .submenu {
                        display: flex;
                    }
                }
            }
        }
    }

    .menu-right {
        margin-left: 20px;
    }

    .menu-user {
        display: flex;
        column-gap: 15px;

        .dropdown:hover {
            .dropdown-menu {
                display: block;
            }
        }

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 10rem;
        }

        .bi {
            font-size: 22px;
        }

        .bi-cart {
            position: relative;
        }

        .badge {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: #ff0000;
            color: #ffffff;
            font-size: 10px;
            font-style: normal;
            width: 20px;
            height: 20px;
            text-align: center;
            padding: 0;
            line-height: 20px;
            border-radius: 10rem;
        }
    }

    &-wrapper {
        min-height: 94px;
    }

    &-mobile {
        display: none;
        padding: 10px;
        background-color: #222;

        .header {
            &-left {
                flex: 1;

                .logo {
                    height: 40px;
                    display: inline-block;
                }
            }

            &-title {
                flex: 1;
                text-align: center;
            }

            &-right {
                flex: 1;
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .bi {
                    font-size: 40px;
                    line-height: 1 !important;
                }
            }
        }
    }
}

.mobile-nav {
    &-wrapper {
        position: absolute;
        background-color: #222;
        color: #ffffff;
        width: 50vw;
        top: 60px;
        bottom: 0;
        left: 0;
        display: none;
        padding-top: 2rem;
    }

    &-open {
        display: block;
    }

    &-navs {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;

        ul.submenu {
            list-style: none;
            padding: 0 0 0 1rem;
            display: none;

            a {
                font-size: 0.85rem;
            }
        }

        li {
            list-style: none;

            a {
                display: block;
                padding: 12px 15px;
                line-height: 1.2;
                color: #fefefe;

                &:hover {
                    text-decoration: none;

                    ul.submenu {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header-wrapper {
        display: none;
    }

    .header-mobile {
        display: flex;
    }
}