.page {
    &-section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    &-shop {
        background-image: url("#{$image-path}/noodlebox/shop-bg.png");

        .header-wrapper {
            height: auto !important;
            min-height: auto;
        }
    }
}

.about {
    .about {
        &-banner {
            position: relative;

            &:before {
                padding-bottom: 40%;
                display: block;
                content: " ";
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
            }

            h1 {
                font-weight: bolder;
                font-size: 3.2rem;
                text-align: center;
                top: 50%;
                transform: translate(0, -50%);
                margin: 0 auto;
                color: #ffffff;
                text-transform: uppercase;
                position: absolute;
                left: 0;
                width: 100%;
                padding: 0 15px;
            }
        }
    }
}

.our-teams {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    .our-team {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
        text-align: center;

        &__image {
            width: 100px;
            height: 100px;
            border-radius: 10rem;
        }
    }
}

.page-61 {
    .page-banner {
        position: relative;

        &:before {
            padding-bottom: 24%;
            display: block;
            content: " ";
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
        }
    }

    .page-content {
        color: var(--safety-orange);

        strong {
            color: #FEFF04 !important;
        }
    }
}

.photo-walls {
    column-count: 6;
    column-gap: 10px;

    .photo-item {
        display: block;
        break-inside: avoid;
        margin-bottom: 10px;

        img {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .page-section{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}