.product {
    &-category-circles {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3px;
        row-gap: 15px;
        align-items: center;
        justify-content: center;

        .category {
            &-item {
                color: #333333;
                background-color: #444444;
                border-style: outset;
                border-width: 6px;
                border-color: #3cc497;
                border-radius: 100rem;
                width: 124px;
                height: 124px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 82px;
                    height: 82px;
                }
            }
        }
    }

    &-category-tabs {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 2px;
        list-style: none;
        padding: 0;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;

        .category {
            &-tab {
                line-height: 1.5;
                display: inline-block;
                border-color: #69d294;
                background-color: #75d69c;
                color: #fff;
                padding: 14px;
                border-radius: 5px;
                font-size: 0.85rem;
                cursor: pointer;

                &__active {
                    border-color: #f0f0f0;
                    background-color: #f8f8f8;
                    color: #666;
                }
            }
        }
    }

    &-category-tab-content {
        display: block;
        margin-top: 2rem;
    }

    &-category-tab-panel {
        display: none;

        &:first-child {
            display: block;
        }
    }
}

.category-products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;

    .product {
        &-item {
            position: relative;
            background-color: #444444;
            color: #ffffff;
            box-shadow: 0 5px 10px rgba(100, 100, 100, 0.3);

            &__image {
                position: relative;

                &:before {
                    content: " ";
                    padding-bottom: 100%;
                    display: block;
                }
            }

            &__ctx {
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 10px;
            }

            &__title {
                line-height: 1.2rem;
                height: 2.4rem;
                overflow: hidden;
            }

            &__price {
                font-size: 14px;
            }
        }
    }
}