html, body {
    margin: 0 auto;
    line-height: 1;
}

body {
    font-size: 18px;
    padding: 0;
    max-width: 750px;
}

.header {
    text-align: center;

    img {
        width: 60%;
        display: inline-block;
    }
}

h3.shop-name {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2;
}

.shop-address {
    display: block;

    p {
        margin-bottom: 5px;
        line-height: 1;
        margin-top: 0;
    }
}

h1.title {
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.shipping-address {
    margin: 1.5rem 0;

    p {
        margin-bottom: 5px;
        margin-top: 0;
        line-height: 1;
    }
}

.table-order-info {
    width: 100%;

    td {
        padding: 3px 1rem 3px 0;
        line-height: 1.1;
        font-size: 15px;
    }
}

.table-order-items {
    width: 100%;
    border-spacing: 0;
    margin-top: 10px;

    td, th {
        padding: 5px;
    }

    thead {
        th {
            background-color: #000;
            color: #ffffff;
            text-align: left;
        }
    }

    tbody {
        td {
            border-bottom: 1px #CCCCCC solid;
            vertical-align: top;
        }
    }

    .name {
        line-height: 1;
        margin-bottom: 10px;
        margin-top: 0;
        font-size: 18px;
        display: -webkit-box;

        .qty {
            display: block;
            margin-right: 3px;
        }

        .tit {
            -webkit-flex: 1;
            flex: 1;
            -webkit-box-flex: 1;
        }
    }

    .price {
        text-align: right;
    }

    .metas {
        display: block;
        padding: 0 0 0 10px;
        margin: 0;
        list-style: none;

        li {
            line-height: 1.2;
            color: #222;
            font-size: 16px;
        }
    }
}

.table-total {
    width: 100%;
    border-spacing: 0;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;

    td, th {
        padding: 3px 10px;
        border-bottom: 1px #CCCCCC solid;
        text-align: left;
        font-size: 18px;
    }
}

td.text-right {
    text-align: right;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;

    td, th {
        text-align: left;
        padding: 8px 10px;
        line-height: 1.1;
    }

    thead{
        th{
            background-color: #000;
            color: #ffffff;
        }
    }

    &.border {
        tbody {
            td, th {
                border: 1px solid #666666;
            }
        }
    }
}